body {
    margin: 0;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.browserWrap {
    max-width: 730px;
    margin: 0 auto;
}
.title {
    text-transform: capitalize;
    font-size: 30px;
    width: 240px;
    margin: 30px auto;
}
.profiles {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.profile {
    background: #cdcdcd;
    border-top: 1px solid grey;
    padding-left:10px;
    height: 30px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}
.profile:nth-of-type(6) {
    border-top: 2px solid grey;
}
.profile:last-of-type {
    border-bottom: 1px solid grey;
}
.profile.selected {
    height: auto;
    overflow: auto;
    background: #fff;
}
.profileBody {
    font-size: 16px;
}
.menulink {
    text-decoration: none;
    cursor: pointer;
    margin: 5px 0;
}
.profile.selected .menulink {
    font-weight: bold;
}
.profileMain {
    margin-top: 10px;
}
.profileMainDesktop {
    display: none;
}
.profileHeader {
    display: none;
}
.imgWrap {
    width: 120px;
    height: 110px;
    overflow: hidden;
    float: left;
    padding: 5px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(204,204,204,1);
    box-shadow: 0px 0px 7px 0px rgba(204,204,204,1);
    margin-right: 10px;
}
.imgWrap img {
    width: 100%;
}

.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
 }
.clearfix:after {
     clear: both;
 }
.clearfix {
    *zoom: 1;
}

@media only screen and (min-width: 768px) {
    .profilesMenu {
        float: left;
        width: 200px;
        margin-right: 15px;
    }
    .menuSeparatorTop {
        height: 20px;
        border-right: 1px solid grey;
    }
    .menuSeparatorBottom {
        height: 180px;
        border-right: 1px solid grey;
    }
    .profile.selected {
        height: 30px;
        border-right: none;
    }
    .profile:first-of-type {
        border-top-left-radius: 10px;
    }
    .profile:nth-of-type(6) {
        border-top: 1px solid grey;
    }
    .profile:last-of-type {
        border-bottom-left-radius: 10px;
    }
    .profileMain {
        display: none;
    }
    .profileMainDesktop {
        display: block;
        float: right;
        min-height: 500px;
        width: 510px;
    }
    .profileHeader {
        display: block;
        margin-top: 0;
        margin-bottom: 15px;
    }
}